*{
  margin: 0;
  padding: 0;
}

body
{
  background-color: #181818;
}

h1
{
  font-family: 'Chakra Petch', sans-serif;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  margin-top: 15%;
}

p
{
  color: #ffffff;
  font-family: 'Chakra Petch', sans-serif;
}

.button
{
  width:200px;
  height:50px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
  background-color: #ffa500;
}

.button:hover
{
  background-color: #ffc967;
}

#buttons
{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

#output
{
  display: flex;
  justify-content: center;
  padding-top: 5%;
  font-size: 2em;
}

::selection
{
  color: #ffc967;
}